<style>
.navbar-content {
    width: 100%;
}

.navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 12px;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-menu {
    margin-left: auto;
}

@media (max-width: 575.98px) {
    .navbar-inner {
        align-items: flex-start;
    }

    .navbar-brand {
        width: 100%;
        white-space: normal;
    }

    .navbar-menu {
        width: 100%;
        margin-left: 0;
    }
}
</style>

<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-12 col-lg-8 offset-lg-2 navbar-content">
                <div class="navbar-inner">
        <a href="/" class="navbar-brand">
          <!-- Logo Image -->
          <img src="{{ url_for('static', filename='img/logo-kpu.png') }}" width="45" alt="" class="d-inline-block align-middle mr-2">
          <!-- Logo Text -->
          <span class="font-weight-bold">Aplikasi Daftar Pemilih</span>
        </a>

         <ul class="nav nav-pills navbar-menu"  >

       <!-- START MENU UNTUK LEVEL ADMIN -->
        {% if session['level'] == 'Admin' : %}

          <li class="navbar-brand">
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Download
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{url_for('downloadExcelAll')}}">Download Semua Absen</a>
                <a class="dropdown-item" href="{{url_for('downloadExcelBydate')}}">Download Semua By Tanggal</a>
                <a class="dropdown-item" href="{{url_for('downloadExcelByname')}}">Download Semua By Name By Tanggal</a>
              </div>
            </div>
          </li>
          <li class="navbar-brand">
               <a class="btn btn-secondary" href="{{url_for('admin')}}" role="button"   aria-expanded="false">
                Data Petugas
              </a>
          </li>
             <li class="navbar-brand">
              <a class="btn btn-secondary" href="{{url_for('petugas')}}" role="button"   aria-expanded="false">
                Data Pegawai
              </a>
          </li>
              <li class="navbar-brand">
                   <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Akun
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">{{ session.level }} :  {{ session.username }}</a>
                <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
              </div>
            </div>

          </li>

        <!-- END MENU UNTUK LEVEL ADMIN -->
        {% elif session['level'] == 'Petugas' : %}
        <!-- START MENU UNTUK LEVEL PETUGAS -->
             <li class="navbar-brand">
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Download
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{url_for('downloadExcelAll')}}">Download Semua Absen</a>
                <a class="dropdown-item" href="{{url_for('downloadExcelBydate')}}">Download Semua By Tanggal</a>
                <a class="dropdown-item" href="{{url_for('downloadExcelByname')}}">Download Semua By Name By Tanggal</a>
              </div>
            </div>
          </li>
          <li class="navbar-brand">
            <a class="btn btn-secondary" href="{{url_for('petugas')}}" role="button"   aria-expanded="false">
                Data Pegawai
              </a>
          </li>
             <li class="navbar-brand">
             <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Akun
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">{{ session.level }} :  {{ session.username }}</a>
                <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
              </div>
            </div>
          </li>

        <!-- END MENU UNTUK LEVEL PETUGAS -->
        {% endif %}


        </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
